<ng-container *ngIf="product">
    <ng-container *ngIf="display=='grid'; else onlineBlock">
        <div class="product-content-card">
            <div>
                <i class="pi pi-tag"></i>
                <span>{{product.category}}</span>
                <span class="display-b">{{product.inventoryStatus}}</span>
            </div>
            <span class="display-b">{{product.name}}</span>
            <span class="display-b">{{product.description}}</span>
            <p-rating class="p-rating" [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
            <div>
                <span><i class="pi pi-dollar"></i>{{product.price}}</span>
                <button pButton icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button>
            </div>
        </div>
    </ng-container>
    <ng-template #onlineBlock>
        <div class="product-content-online" *ngIf="product">
            <div>
                <i class="pi pi-tag"></i>
                <span>{{product.category}}</span>
                <span class="display-b">{{product.inventoryStatus}}</span>
            </div>
            <div>
                <span class="display-b">{{product.name}}</span>
                <span class="display-b">{{product.description}}</span>
            </div>
            <p-rating class="p-rating" [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
            <div>
                <span><i class="pi pi-dollar"></i>{{product.price}}</span>
                <button pButton icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button>
            </div>
        </div>
    </ng-template>
</ng-container>
