.product-content-card{
    
    text-align: center;
    & > :first-child {
        margin-bottom: 10px;
    }
    & > :last-child{
        display: flex;
        justify-content: center;
        align-items: end;
        margin-top: 10px;
    }
    & .display-b{
        display: block;
    }
}

.product-content-online{
    display: flex;
    justify-content: space-between;
    & .display-b{
        display: block;
    }
}